body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.city{
  font-size: 24px;
}

.date{
  font-size: 16px;
}

.container-temp{
  display: flex;
  justify-content: center;
  background-color: #3CDA7D;
  border-radius: 15px;

  font-size: 28px;
  font-weight: 900;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.weather{
  font-size: 24px;
}

.hi-low{
  font-size: 16px;
}

.banner
{
    background-color: green;
    width: 1000px;
    height: 100px;

}

.air-quality, .arr, .air-quality-status{
  font-size: 4rem;
  font-weight: 700;
}

.compontent-names{
  display: inline-block;
  font-size: 18px;
}

.sub-heading{
  font-size: 24px;
}

.component-val{
  font-size: 1.2rem;
  margin-left: 16px;
}

